@import "../mixin";

footer {
  margin-top: 50px;
  position: relative;
}
.hj_footer_section {
  position: relative;
  width: 100%;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  figure.high_wave {
    svg {
      position: absolute;
      top: -43%;
      left: -15%;
      display: block;
      margin: 0 auto;
      transform: scaleX(-1);
      animation: wave 2.3s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      @media screen and (min-width: 1300px) and (max-width: 1700px) {
        top: -40%;
      } //lg
      @media screen and (min-width: 1000px) and (max-width: 1300px) {
        top: -38%;
      } //md
      @media screen and (min-width: 800px) and (max-width: 1000px) {
        top: -28%;
      } //sm
      @media screen and (min-width: 600px) and(max-width:800px) {
        top: -26%;
      } //sm
      @media screen and (max-width: 600px) {
        top: -11%;
      }
      path.st0 {
        fill: var(--sub-color1);
        stroke: var(--sub-color1);
      } //path.sv0
    } //svg
  } //high_wave
  figure.middle_wave {
    svg {
      position: absolute;
      top: -50%;
      left: -40%;
      display: block;
      margin: 0 auto;
      animation: wave 2.3s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      @media screen and (min-width: 1300px) and (max-width: 1700px) {
        top: -38%;
      } //lg
      @media screen and (min-width: 1000px) and (max-width: 1300px) {
        top: -37%;
      } //md
      @media screen and (min-width: 800px) and (max-width: 1000px) {
        top: -27%;
      } //sm
      @media screen and (min-width: 600px) and(max-width:800px) {
        top: -24%;
      } //sm
      @media screen and (max-width: 600px) {
        top: -13%;
      }
      path.st1 {
        fill: var(--blue);
        stroke: var(--blue);
      } //path.sv0
    } //svg
  } //middle_wave
  figure.low_wave {
    svg {
      position: absolute;
      top: -24%;
      left: 0%;
      display: block;
      margin: 0 auto;
      transform: scaleX(-1);
      animation: wave 2.7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
      @media screen and (min-width: 1300px) and (max-width: 1700px) {
        top: -20%;
      } //lg
      @media screen and (min-width: 1000px) and (max-width: 1300px) {
        top: -24%;
      } //md
      @media screen and (min-width: 800px) and (max-width: 1000px) {
        top: -15%;
      } //sm
      @media screen and (min-width: 600px) and(max-width:800px) {
        top: -10%;
      } //sm
      @media screen and (max-width: 600px) {
        top: -7%;
      }
      path.st2 {
        fill: var(--black);
        stroke: var(--black);
      } //path.st2
    } //svg
  } //low_wave
  .hj_footer_box {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hj_footer_menu {
      ul {
        display: flex;
        li {
          position: relative;
          margin-right: 70px;
          font-size: 1.2em;
          font-weight: 700;
          text-transform: uppercase;
          color: var(--white);
          opacity: 1;
          transition: all 0.3s;
          z-index: 30;
          @media screen and (min-width: 1200px) and (max-width: 1500px) {
            font-size: 1em;
            font-weight: 600;
          } //lg
          @media screen and (min-width: 900px) and (max-width: 1200px) {
            margin-right: 40px;
            font-size: 0.8em;
            font-weight: 500;
          } //md
          @media screen and (min-width: 700px) and (max-width: 900px) {
            margin-right: 10px;
            font-size: 0.7em;
            font-weight: 300;
          } //sm
          @media screen and (max-width: 700px) {
            margin-right: 5px;
            font-size: 0.5em;
            font-weight: 100;
          } //sm
          &:hover {
            opacity: 0.7;
          } //li:hover
        } //li
      } //ul
    } //.hj_footer_menu
    .hj_footer_desc {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      figure {
        width: 40px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          /*   @media screen and (max-width:1000px){
            display: none;
          } */
        } //img
      } //figure
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        li {
          margin-bottom: 7px;
          font-weight: 400;
          color: var(--sub-color1);
          @media screen and (min-width: 1200px) and (max-width: 1500px) {
            font-size: 1em;
          } //lg
          @media screen and (min-width: 900px) and (max-width: 1200px) {
            font-size: 0.8em;
          } //md
          @media screen and (min-width: 700px) and (max-width: 900px) {
            font-size: 0.7em;
          } //sm
          @media screen and (max-width: 700px) {
            font-size: 0.3em;
          } //sm
        }
        li:first-child {
          text-transform: uppercase;
        }
      } //ul
    } //.hj_footer_desc
  } //hj_footer_box
} //hj_low_section
@keyframes wave {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -70px;
  }
  100% {
    margin-left: 0;
  }
}
