section.product .jey_prd3 {
  display: flex;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 {
    flex-direction: column;
  }
}
section.product .jey_prd3 div.jey_left {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 div.jey_left {
    width: 100%;
  }
}
section.product .jey_prd3 div.jey_left h3 {
  position: absolute;
  font-size: 2.5vw;
  top: 20%;
  left: 15%;
  font-weight: 700;
  color: #fff;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 div.jey_left h3 {
    font-size: 5vw;
    top: 20%;
  }
}
section.product .jey_prd3 div.jey_left p {
  position: absolute;
  z-index: 1;
  color: #fff;
  max-width: 60%;
  top: 35%;
  left: 15%;
  font-size: 1.2em;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 div.jey_left p {
    font-size: 3vw;
  }
}
section.product .jey_prd3 div.jey_left figure img {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}
section.product .jey_prd3 div.jey_left figure img.jey_img-sm {
  display: none;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 div.jey_left figure img.jey_img-lg {
    display: none;
  }
  section.product .jey_prd3 div.jey_left figure img.jey_img-sm {
    display: block;
  }
}
section.product .jey_prd3 div.jey_right {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 div.jey_right {
    width: 100%;
  }
}
section.product .jey_prd3 div.jey_right ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
section.product .jey_prd3 div.jey_right ul li {
  position: relative;
  width: 50%;
}
section.product .jey_prd3 div.jey_right ul li h3 {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1em;
}
section.product .jey_prd3 div.jey_right ul li p {
  position: absolute;
}
section.product .jey_prd3 div.jey_right ul li figure {
  overflow: hidden;
}
section.product .jey_prd3 div.jey_right ul li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section.product .jey_prd3 div.jey_right ul li.jey_li1 p,
section.product .jey_prd3 div.jey_right ul li.jey_li4 p {
  color: var(--black);
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  max-width: 70%;
  white-space: nowrap;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 div.jey_right ul li.jey_li1 p,
section.product .jey_prd3 div.jey_right ul li.jey_li4 p {
    font-size: 2vw;
    top: 40%;
  }
}
section.product .jey_prd3 div.jey_right ul li.jey_li2 img,
section.product .jey_prd3 div.jey_right ul li.jey_li3 img {
  filter: grayscale(100%);
  transition: all 0.8s;
}
section.product .jey_prd3 div.jey_right ul li.jey_li2 h3,
section.product .jey_prd3 div.jey_right ul li.jey_li3 h3 {
  z-index: 1;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.3em;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 div.jey_right ul li.jey_li2 h3,
section.product .jey_prd3 div.jey_right ul li.jey_li3 h3 {
    font-size: 3vw;
  }
}
section.product .jey_prd3 div.jey_right ul li.jey_li2 p,
section.product .jey_prd3 div.jey_right ul li.jey_li3 p {
  z-index: 1;
  position: absolute;
  transition: opacity 0.8s;
  opacity: 0;
  color: #fff;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.85em;
}
section.product .jey_prd3 div.jey_right ul li.jey_li2:hover h3,
section.product .jey_prd3 div.jey_right ul li.jey_li3:hover h3 {
  color: var(--blue);
  transform: translate(-50%);
  transition: all 0.8s;
  font-size: 1.5em;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  section.product .jey_prd3 div.jey_right ul li.jey_li2:hover h3,
section.product .jey_prd3 div.jey_right ul li.jey_li3:hover h3 {
    font-size: 4vw;
  }
}
section.product .jey_prd3 div.jey_right ul li.jey_li2:hover p,
section.product .jey_prd3 div.jey_right ul li.jey_li3:hover p {
  opacity: 1;
}
section.product .jey_prd3 div.jey_right ul li.jey_li2:hover figure img,
section.product .jey_prd3 div.jey_right ul li.jey_li3:hover figure img {
  filter: grayscale(0) brightness(1.1);
  transform: scale(1.5);
}
section.product .jey_prd3 div.jey_right ul li.jey_li4 p {
  color: #fff;
}

/* motion------------------------------------- */
.jey_prd3 .jey_left .j_text.active span {
  display: inline-block;
  transform-origin: 50% 70%;
}
.jey_prd3 .jey_left .j_text.active span:nth-child(1) {
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both, fadeIn 1s both;
}
.jey_prd3 .jey_left .j_text.active span:nth-child(2) {
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.2s both, fadeIn 1s both;
}
.jey_prd3 .jey_left .j_text.active span:nth-child(3) {
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.4s both, fadeIn 1s both;
}
.jey_prd3 .jey_left .j_text.active span:nth-child(4) {
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.6s both, fadeIn 1s both;
}
.jey_prd3 .jey_left .j_text.active span:nth-child(5) {
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0.8s both, fadeIn 1s both;
}
.jey_prd3 .jey_left .j_text.active span:nth-child(6) {
  animation: flipper 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both, fadeIn 1s both;
}

@keyframes flipper {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=coffee-3.css.map */