@import "mixin";
body {
  background-color: #fdfbf7;
}

section.j_section_brand {
  padding-top: 80px;
  max-width: 1200px;
  margin: 0 auto;
  
  h3, >p {
    margin: 0 auto;
    text-align: center;
    max-width: 250px;
  } //h3&p
  h3 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 20px;
  } //h3
  > p {
    font-size: 0.7em;
  } //p

  ul.j_brand_container {
    padding-top: 80px;
    /* 브랜드 히스토리 공통 */
    .j_row {
      position: relative;
      .j_brand_inner {
        position: relative;
        box-sizing: border-box;
        padding: 0 20px;       
        h4 {
          font-weight: 800;
          @media screen and (max-width: 1100px) and (min-width: 800px) {
            margin-left: 52%;
          }
         }
        em {
          display: block;
          color: var(--blue);
          font-weight: 100;
          @media screen and (min-width:800px){
            font-size: 9em;
          } 
        } //em
        @media screen and (max-width:1100px) and (min-width:800px){
          width: 80%;
          margin: 0 auto;
        }
        @media screen and (max-width: 800px){
          h4{
            margin-left: 3%;
          }
          em{
            margin-left: 17%;
            font-size: 8em;
          }//em
        } //j_brand_inner sm 내의 h4/em
        
        //j_box 공통
        .j_box {
          position: relative;
          display: flex;
          max-width: 650px;
          padding: 10px;
          box-sizing: border-box;
          box-shadow: 3px 3px 7px rgba($color: #000000, $alpha: 0.1);
          background-color: #fff;
          
          figure {
            width: 350px;
            height: 300px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            } //img
          } //figure
          
          .j_desc {
            flex: 1;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
            text-align: justify;
          } //j_desc
        
        } //j_box

        .j_sub_img1 {
          position: relative;
          @media screen and (min-width:800px){
            width: 200px;
          }
        }
        .j_sub_img2 {
          position: relative;
          @media screen and (min-width:800px){
            width: 150px;
          }
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: var(--black);
        } //before
        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: -2;
          height: calc(100% + 80px);
          border-right: 1px solid var(--black);
        } //after
        &::before, &::after{
          top:1%;
          @media screen and (min-width: 800px){
            left: 50%;
          }
        } //before, after 공통 css 미디어쿼리
      } //j_brand_inner
    } //j_row(전체 공통)

    /* 브랜드 히스토리 첫번째, 세번째 공통 위치 잡기*/
    li.j_row_0, li.j_row_2 {
      .j_brand_inner {
        @media screen and (min-width: 1100px) {
          h4 { margin-left: 51%;}
          em { margin-left: 2%;}
        }
        @media screen and (min-width: 800px) {
          .j_box { margin-left: 7%;}
          .j_sub_img2 {margin-left: 5%;}
        }
        .j_box {
          margin-top: -5%;
          .j_desc {
            display: flex;
            align-items: center;
          }
        } //j_box
        .j_sub_img1 {margin-top: -5%;}
        .j_sub_img2 {margin-top: -6%;}
      } //j_brand_inner
    } //j_row(첫번째, 세번째 공통 위치 잡기 끝)

    /* 두번째 히스토리 위치 잡기 */
    .j_row_1 {
      .j_brand_inner {
        @media screen and (min-width: 1100px) {
          margin-left: 50%;
          h4 {
            width: 100%;
            margin-left: -107%;
            text-align: end;
          }
          .j_box {margin-left: -8%; }
          .j_sub_img1 {margin-left: 52%;}
          .j_sub_img2 {margin-left: 70%;}
          &::before, &::after { left: 0; }
        }
        @media screen and (max-width: 1100px) and (min-width: 800px) {
          .j_box {
            margin-left: 7%;
          }
          .j_sub_img2 {
            margin-left: 15%;
          }
        }//media
        
        .j_box {
          flex-wrap: wrap;
          margin-top: -7%;
          figure {
            width: 100% !important;
          } //figure
        } //j_box
        .j_sub_img1 {
          position: relative;
          z-index: 1;
          width: 250px ;
          margin-top: -5%;
        }
        .j_sub_img2 {
          margin-top: -60px;
        }
      } //j_brand_inner
    } //j_row 두번째 위치잡기 끝-------

    /* 마지막 추가 사진 css */
    .j_row_2 {
      .j_last_pic {
        position: relative;
        z-index: -1;
        max-width: 500px;
        padding: 10px;
        margin-top: -200px;
        box-sizing: border-box;
        box-shadow: 3px 3px 7px rgba($color: #000000, $alpha: 0.1);
        background-color: #fff;
        @media screen and (min-width:800px){
          margin-left: 30%;
        }
        @media screen and (max-width:800px){
            margin-left: 30px;
            margin-top: -180px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    } //j_row2

    /* 모바일버전 css */
    @media screen and (max-width: 800px) {
      .j_row {
        .j_brand_inner{
          .j_box {
            margin-top: -5%;
            width: 95%;
            margin-left: auto;
            flex-wrap: wrap;
            figure {
              width: 100% !important;
            } //figure
            .j_desc{
              font-size: 0.8em;
            }//j_desc 
          }//j_box
          .j_sub_img1{
            margin-left: auto;
            width: 150px;
          }
          .j_sub_img2{
            margin-left: auto;
            width: 100px;
          }
        }//j_brand_inner
      }//li
    }//media 
    .j_row_2 .j_brand_inner:last-of-type{
      padding-bottom: 200px;
    }

    /* motion ------------------------------------- */
    .j_row{
      .j_brand_inner{        
        em, .j_box, .j_sub_img1, .j_sub_img2, .j_last_pic, &::before, &::after{
          opacity: 0;
          transition: all 1s;
        }
       &::after{
        opacity: 0;
        height: 0;
        transition: all 2s ease-in;
       }
      }//j_brand_inner
      &.active{
        .j_brand_inner{
        em, .j_box, .j_sub_img1, .j_sub_img2, .j_last_pic, &::before, &::after{
          opacity: 1;    
        }
        &:after{          
          opacity: 1;
          height: 100%;
        }
        .text_container{
          h4{
            position: relative;          
          }
        }
      }//active
     }//j_brand_inner
    }//j_row
  } //j_brand_container
} //section_brand
