@import "../mixin";

.hj_main_4 {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: var(--white);
    display: flex;
    align-items: center;
} //hj_main_4
.hj_text_slider {
    width: 500%;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: hidden;
    .hj_text_track {
        width: 100%;
        height: 100%;
        position: absolute; 
        white-space: nowrap;
        will-change: transform;
        animation: rotation 60s linear infinite;
        div.content {
            width: 300%;
            height: 100%;
            display: flex;
            align-items: center;
            svg {
                transform: rotate(180deg);
                height: 20%;
                text {
                    width: 100%;
                    height: 100%;
                    textPath {
                        font-size: 6.5em;
                        font-weight: 600;
                        tspan {
                            font-family: 'Sacramento', cursive;
                        } //tspan
                    } //textPath
                } //text
            } //svg
        } //div.content
    } //.hj_text_track
} //.hj_text_slider
.hj_cafes_photo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 600px;
    height: 600px;
    background-color: var(--blue);
    box-shadow: 3px 3px 10px var(--black);
    border-radius: 50%;
    figure {
        img {
            
        }//img
    }//figure
}//hj_cafes_photo
.hj_cafes_area {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        font-size: 1.8em;
        font-weight: 600;
        color: var(--black);
        opacity: 0.8;
        img {
            opacity: 0;
            transition: all 0.5s;
            margin-bottom: 5px;
        }//img
        &:hover {
            opacity: 1;
            img {
                opacity: 1;
            }//:hover img
        }//:hover
    }//a
}//hj_cafes_area

/* animation ------------------------------------------------------------------ */
@keyframes rotation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
} //animation_rotation
@media (hover: hover) and (min-width: 700px) {
    .animated-title .content {
        transform: translateY(calc(100% - 8rem));
    }
} //hover_animation
