.ik_middle {
  position: relative;
  width: 100%;
  height: 40%;
  background: var(--white);
  .ik_main_2 {
    position: relative;
    width: 100%;
    height: 50%;

    figure {
      position: absolute;
      width: 250px;
      top: -0.2%;
      left: 50%;
      transform: translateX(-41%);

      @media screen and (min-width: 500px) and (max-width: 1000px) {
        width: 200px;
      }
      @media screen and (max-width: 500px) {
        width: 115px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      } //img
    } //figure

    div.ik_motion_box {
      position: relative;
      top: 0;
      width: inherit;
      height: 100%;
 
      .ik_motion1,.ik_motion2 {
        position: absolute;
        top: 10%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          min-height: 280px;
          object-fit: cover;
          object-position: center;
          
          @media screen and (min-width:1200px) {
            height: 100%;
          }
          @media screen and (min-width:1000px) and (max-width:1200px) {
            height: 80%;
          }
          @media screen and (min-width:700px) and (max-width:1000px) {
            height: 60%;
          }
          @media screen and (max-width:700px) {
            height: 40%;
          }
        }

        .ik_textbox {
          position: absolute;
          font-weight: 700;
          transform: translateX(-50%);
          &.ik_textbox1{left: 32%;}
          &.ik_textbox2 {color: var(--blue); left: 50%; }
          &.ik_textbox3{left: 60%;}

          @media screen and (min-width:1200px) {
            &.ik_textbox1{font-size: 3em; top: 35%;}
            &.ik_textbox2{font-size: 8em; top: 40%;}
            &.ik_textbox3{font-size: 3em; top: 50%;}
          }
          @media screen and (min-width:1000px) and (max-width:1200px) {
            &.ik_textbox1{font-size: 2.7em; top: 30%;}
            &.ik_textbox2{font-size: 7em; top: 35%;}
            &.ik_textbox3{font-size: 2.7em; top: 45%;}
          }
          @media screen and (min-width:700px) and (max-width:1000px) {
            &.ik_textbox1{font-size: 2.3em; top: 21%; left: 37%;}
            &.ik_textbox2{font-size: 6.5em; top: 25%;}
            &.ik_textbox3{font-size: 2.3em; top: 35%;}
          }
          @media screen and (min-width:500px) and (max-width:700px) {
            &.ik_textbox1{font-size: 1.5em; top: 15%; left: 37%;}
            &.ik_textbox2{font-size: 3em; top: 17%;}
            &.ik_textbox3{font-size: 1.5em; top: 24%;}
          }
          @media screen and (max-width:500px){
            &.ik_textbox1{font-size: 1.2em; top: 14%; left: 37%;}
            &.ik_textbox2{font-size: 2.8em; top: 16%;}
            &.ik_textbox3{font-size: 1.2em; top: 22%;}
          }
        }
      }
      .ik_motion2 {
        display: none;
      }
    }
  } //ik_main-2 section
}
