.ik_middle {
  position: relative;
  width: 100%;
  height: 40%;
  background: var(--white);
}
.ik_middle .ik_main_2 {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}
@media screen and (min-width: 1200px) {
  .ik_middle .ik_main_2 {
    height: 50%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .ik_middle .ik_main_2 {
    height: 40%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .ik_middle .ik_main_2 {
    height: 30%;
  }
}
@media screen and (max-width: 700px) {
  .ik_middle .ik_main_2 {
    height: 25%;
  }
}
.ik_middle .ik_main_2 figure {
  position: absolute;
  width: 250px;
  top: -0.2%;
  left: 50%;
  transform: translateX(-41%);
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .ik_middle .ik_main_2 figure {
    width: 200px;
  }
}
@media screen and (max-width: 700px) {
  .ik_middle .ik_main_2 figure {
    width: 115px;
  }
}
.ik_middle .ik_main_2 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.ik_middle .ik_main_2 div.ik_motion_box {
  position: relative;
  top: 0;
  width: inherit;
  height: 100%;
}
.ik_middle .ik_main_2 div.ik_motion_box .ik_motion1, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 {
  position: absolute;
  top: 10%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 img, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 300px;
  object-fit: cover;
  object-position: center;
}
.ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox {
  position: absolute;
  font-weight: 700;
  transform: translateX(-50%);
}
.ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox2, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox2 {
  color: var(--blue);
}
@media screen and (min-width: 1400px) {
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox1, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox1 {
    font-size: 3em;
    top: 33%;
    left: 37%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox2, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox2 {
    font-size: 9em;
    top: 35%;
    left: 45%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox3, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox3 {
    font-size: 3em;
    top: 50%;
    left: 67%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox1, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox1 {
    font-size: 3em;
    top: 27%;
    left: 37%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox2, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox2 {
    font-size: 9em;
    top: 28%;
    left: 45%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox3, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox3 {
    font-size: 3em;
    top: 44%;
    left: 67%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox1, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox1 {
    font-size: 2.7em;
    top: 27%;
    left: 37%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox2, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox2 {
    font-size: 6.5em;
    top: 28%;
    left: 43%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox3, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox3 {
    font-size: 2.7em;
    top: 42%;
    left: 64%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox1, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox1 {
    font-size: 2.7em;
    top: 32%;
    left: 32%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox2, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox2 {
    font-size: 6em;
    top: 35%;
    left: 40%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox3, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox3 {
    font-size: 2.7em;
    top: 49%;
    left: 62%;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox1, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox1 {
    font-size: 1.2em;
    top: 33%;
    left: 35%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox2, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox2 {
    font-size: 3em;
    top: 35%;
    left: 40%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox3, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox3 {
    font-size: 1.5em;
    top: 47%;
    left: 61%;
  }
}
@media screen and (max-width: 500px) {
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox1, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox1 {
    font-size: 1.3em;
    top: 32%;
    left: 27%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox2, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox2 {
    font-size: 2.8em;
    top: 35%;
    left: 38%;
  }
  .ik_middle .ik_main_2 div.ik_motion_box .ik_motion1 .ik_textbox.ik_textbox3, .ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 .ik_textbox.ik_textbox3 {
    font-size: 1.5em;
    top: 49%;
    left: 61%;
  }
}
.ik_middle .ik_main_2 div.ik_motion_box .ik_motion2 {
  display: none;
}
.ik_middle .ik_textbox {
  width: 100%;
  text-align: center;
}
.ik_middle .ik_textbox h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}
.ik_middle .ik_textbox p {
  font-weight: 500;
}/*# sourceMappingURL=ik_main_2.css.map */