@import "../mixin";
main {
  width: 100%;
  height: 100%;
}

section.ik_main_1 {
  position: relative;
  width: 100%;
  height: 100%;
  svg {
    position: absolute;
    left: 0;top: 0;
    width: 100%;

    path {
      fill: var(--blue);
    }
  }
}
