@import "../mixin";
body{
  width: 100%;
  height: 500%;
  main{
    width: 100%;
    height: 100%;
  }
}

section.ik_main_1 {
  position: relative;
  top:0;
  width: 100%;
  height: 20%;
  overflow: hidden;

  .ik_background_video {
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    height: 125vh;
    object-fit: cover;
    object-position: center;

  }

  .ik_title_box {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
    
    h2, p {
      text-transform: uppercase;
      text-shadow: 0 0 10px rgba(#333, 0.8);
      opacity: 0;
      transition: opacity 0.9s, transform 0.9s;
    }
    h2 {
      font-size: 5em;
      font-weight: 700;
      transform: translateY(50%);
    }
    p {
      font-size: 2.5em;
      font-weight: 600;
      transform: translateY(-50%);
    }
    @media screen and (min-width: 600px) and (max-width: 1000px) {
      h2 {
        font-size: 6.4vw;
      }
      p {
        font-size: 3vw;
      }
    } //md
    @media screen and (max-width: 600px) {
      h2 {
        font-size: 7.5vw;
      }
      p {
        font-size: 3.7vw;
      }
    } //sm

    /* ----------active---------- */

    &.active {
      h2,
      p {
        transform: translateY(0);
        opacity: 0.9;
      }
    }
  }

  svg {
    position: absolute;
    
    &.ik_wave1 {
      width: 114%;
      height: 30%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      path {
        fill: rgba(#00a9e0, 0.6);
      }
      animation: ikWave1 7s infinite;
    }
    &.ik_wave2 {
      width: 110%;
      height: 25%;
      left: 50%; bottom: 0;
      transform: translateX(-50%);
      path {
        fill: var(--white);
      }
      animation: ikWave2 10s infinite;
    }
    &.ik_wave3 {
      width: 110%;
      height: 25%;
      left: 50%; bottom: 0;
      transform: translateX(-50%);
      path {
        fill: rgba(#333, 0.2);
      }
      animation: ikWave2 3s infinite;
    }

    @keyframes ikWave1 {
      0% {
        transform: translate(-50%);
      }
      25% {
        transform: translate(-47%, -1px);
      }
      50% {
        transform: translate(-50%, 3px);
      }
      75% {
        transform: translate(-53%, -2px);
      }
      100% {
        transform: translate(-50%);
      }
    }

    @keyframes ikWave2 { 
      0% {
        transform: translate(-50%);
      }
      25% {
        transform: translate(-51%, 2px);
      }
      50% {
        transform: translate(-50%, 0px);
      }
      75% {
        transform: translate(-49%, 2px);
      }
      100% {
        transform: translate(-50%);
      }
    }
  }
}
