.ik_middle {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 200%;
  overflow: hidden;
  background: var(--white);
}
.ik_middle .ik_onePath {
  position: absolute;
  top: 0;
  left: 50%;
  width: 120%;
  height: 70%;
  transform: translateX(-50%);
  mix-blend-mode: difference;
  z-index: 2;
}
.ik_middle .ik_onePath path {
  fill: none;
  stroke: #333;
  stroke-width: 3px;
}
.ik_middle > .ik_textbox {
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 50%;
  opacity: 0;
  text-align: center;
  transition: all 2s;
}
.ik_middle > .ik_textbox.active {
  opacity: 1;
  top: 50%;
}
.ik_middle > .ik_textbox h3 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.ik_middle > .ik_textbox ul.ik_text {
  margin: 15px auto;
  width: 95%;
  max-width: 600px;
}
.ik_middle > .ik_textbox ul.ik_text li {
  font-weight: 500;
}
@media screen and (max-width: 700px) {
  .ik_middle > .ik_textbox {
    width: 100%;
  }
  .ik_middle > .ik_textbox > h3 {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 0;
  }
  .ik_middle > .ik_textbox > ul.ik_text {
    margin: 7px auto;
  }
  .ik_middle > .ik_textbox > ul.ik_text li {
    font-size: 0.9em;
    font-weight: 200;
  }
}

.ik_bean {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  z-index: 8;
  transition: all 1s;
  /* ----------------animation-------------------------- */
  /* ----------------hover------------------- */
}
@media screen and (min-width: 700px) {
  .ik_bean.ik_bean1 {
    top: 7%;
    left: 80%;
    width: 100px;
    height: 100px;
  }
  .ik_bean.ik_bean2 {
    top: 10%;
    left: 70%;
    width: 80px;
    height: 80px;
  }
  .ik_bean.ik_bean3 {
    top: 40%;
    left: 12%;
    width: 90px;
    height: 90px;
  }
  .ik_bean.ik_bean4 {
    top: 32%;
    left: 85%;
    width: 100px;
    height: 100px;
  }
  .ik_bean.ik_bean5 {
    top: 50%;
    left: 70%;
    width: 120px;
    height: 120px;
  }
  .ik_bean.ik_bean6 {
    top: 57%;
    left: 20%;
    width: 80px;
    height: 80px;
  }
  .ik_bean.ik_bean7 {
    top: 61%;
    left: 14%;
    width: 40px;
    height: 40px;
  }
  .ik_bean.ik_bean8 {
    top: 64%;
    left: 90%;
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 700px) {
  .ik_bean.ik_bean1 {
    top: 7%;
    left: 80%;
    width: 50px;
    height: 50px;
  }
  .ik_bean.ik_bean2 {
    top: 10%;
    left: 70%;
    width: 40px;
    height: 40px;
  }
  .ik_bean.ik_bean3 {
    top: 25%;
    left: 12%;
    width: 90px;
    height: 90px;
  }
  .ik_bean.ik_bean4 {
    top: 40%;
    left: 60%;
    width: 50px;
    height: 50px;
  }
  .ik_bean.ik_bean5 {
    top: 49%;
    left: 80%;
    width: 20px;
    height: 20px;
  }
  .ik_bean.ik_bean6 {
    top: 57%;
    left: 20%;
    width: 40px;
    height: 45px;
  }
  .ik_bean.ik_bean7 {
    top: 61%;
    left: 14%;
    width: 40px;
    height: 40px;
  }
  .ik_bean.ik_bean8 {
    top: 67%;
    left: 81%;
    width: 30px;
    height: 30px;
  }
}
.ik_bean.ik_bean1 {
  -webkit-animation: jump 5s linear infinite;
          animation: jump 5s linear infinite;
}
.ik_bean.ik_bean2 {
  -webkit-animation: slide 7s linear infinite;
          animation: slide 7s linear infinite;
}
.ik_bean.ik_bean3 {
  -webkit-animation: jump 7s linear infinite;
          animation: jump 7s linear infinite;
}
.ik_bean.ik_bean4 {
  -webkit-animation: slide 6s linear infinite;
          animation: slide 6s linear infinite;
}
.ik_bean.ik_bean5 {
  -webkit-animation: slide 8s linear infinite;
          animation: slide 8s linear infinite;
}
.ik_bean.ik_bean6 {
  -webkit-animation: jump 6s linear infinite;
          animation: jump 6s linear infinite;
}
.ik_bean.ik_bean7 {
  -webkit-animation: slide 5.3s linear infinite;
          animation: slide 5.3s linear infinite;
}
.ik_bean.ik_bean8 {
  -webkit-animation: jump 4s linear infinite;
          animation: jump 4s linear infinite;
}
@-webkit-keyframes jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
.ik_bean:hover.ik_bean1 {
  transform: rotate(240deg);
}
.ik_bean:hover.ik_bean2 {
  transform: rotate(200deg);
}
.ik_bean:hover.ik_bean3 {
  transform: rotate(240deg);
}
.ik_bean:hover.ik_bean4 {
  transform: rotate(-340deg);
}
.ik_bean:hover.ik_bean5 {
  transform: rotate(-180deg);
}
.ik_bean:hover.ik_bean6 {
  transform: rotate(-250deg);
}
.ik_bean:hover.ik_bean7 {
  transform: rotate(250deg);
}
.ik_bean:hover.ik_bean8 {
  transform: rotate(-360deg);
}/*# sourceMappingURL=index.css.map */